 <script src="Components/Pagination/Parts/ItemsPerPage.js"></script>
<div data-ng-controller="PaginationCtrl" class='Pagination-ItemsPerPage'>
<input  data-ng-click="TestFuncInside($event)"  list="ItemPerPage" name="ItemPerPage" class="form-control" style="width:70px;display: inline-block;">
                        <datalist id="ItemPerPage">
                          <option value="All">
                          <option value="20">
                          <option value="30">
                          <option value="40">
                          <option value="50">
                          <option value="60">
                          <option value="70">
                          <option value="80">
                          <option value="90">
                          <option value="100">
                          <option value="150">
                          <option value="200">
                          <option value="300">
                          <option value="500">                         
                        </datalist> Items per Page  {{test+"hello"}}
</div>