<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <style>
       th.ColumnHeader:hover{
           background-color: #e6e6e6;
           border-radius: 5px;
           
       }
       table.ListDataTable>thead>*>th>*>button{
           padding-left: 6px !important;
           padding-right: 0px !important;
           margin-right: 0px;
           text-align: left;
           
       }
       </style>   
    </head>
    
    
    <body>
        <div class="">
            
        <br>
        <br>
            <table class="table table-hover table-responsive ListDataTable" id="NameGoesHere">
              <thead>
                <tr>
                  
                </tr>
              </thead>
              <tbody>
                               
              </tbody>
            </table>
            
            
        </div>
    
        
        
        
        
    <div id="ListViewTemplates">
        <div id="ListViewTemplates">
            
        </div>
    </div>
        
        
        
    </body>
    
    <link rel="stylesheet" type="text/css" href="../../scripts/css/bootstrap/bootstrap.css">    
    <script src="../../scripts/js/JQuery/jquery-3.2.1.js"></script>
    <script src="../../scripts/js/bootstrap/bootstrap.min.js"></script>
    
    <script src="../../scripts/js/ListView/DefaultListView.js"></script>
    
 
   
<!--    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
-->    
</html>
