<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
 


<script src="Components\NewItemControl\NewItemControl.js"></script>

<div class="NewItemControlComp" style="bottom: 0px"  data-ng-controller="NewItemControlCtrl" data-ng-init="initialize()">
    <button type="button" class="btn btn-default ">
        <span class="glyphicon glyphicon-plus-sign"></span> Add Item
    </button>

    <div id="dialog-form" title="Create new user" style="display:none;">
      <p class="validateTips">All form fields are required.</p>

      <form>
        <fieldset>
          <label for="name">Name</label>
          <input type="text" name="name" id="name" value="Jane Smith" class="text ui-widget-content ui-corner-all">
          <label for="email">Email</label>
          <input type="text" name="email" id="email" value="jane@smith.com" class="text ui-widget-content ui-corner-all">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" value="xxxxxxx" class="text ui-widget-content ui-corner-all">

          <!-- Allow form submission with keyboard without duplicating the dialog button -->
          <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
      </form>
    </div>
</div>