<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->




<script src="Components/SearchList/SearchList.js"></script>
<div class="SearchInputHolder SearchListComp" style="position:absolute;bottom: 0px"  data-ng-controller="SearchCtrl">
    <div class="input-group ">  
     <div class="input-group-btn form-group SearchBoxAdv" >
        <button class="btn btn-default dropdown-toggle AdvSBMenu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="glyphicon glyphicon-option-horizontal"></span></button>
        <ul class="dropdown-menu draggable ui-draggable ui-draggable-handle container-fluid">
          <li style="position: relative;top: -10px;background-color: steelblue;width: 104%;left: -2%;padding: 4px;border-radius: 2px;box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 2px 0px, rgba(0, 0, 0, 0.2) 0px 2px 2px 0px;color: white;display: none;" class="SBTitleBar">
                    SearchBox <span class="glyphicon glyphicon-minus" style="float:right; cursor:pointer;"></span>
          </li>
          <li id="CustomQueryChkBox" data-ng-click="ListenerCustomQueryCheckBox($event)"> 
                <label><input type="checkbox" name="remember"> Enable Custom Query</label>
          </li>
          <li role="separator" class="divider"></li>
          <li class="row CustomQueryStarter" style="margin-left: auto;margin-right: auto;" data-ng-click="ListenerCustomQueryStarter($event)" >
              <div class="col-xs-3">
                  <b>Starter Query</b>
              </div>
                <div  class="col-xs-9">
                    <label class="radio-inline"><input type="radio" name="optradio" class="CustomCopySearchBox" checked="checked">Main Search Box</label>
                    <label class="radio-inline"><input type="radio" name="optradio" class="CustomCopyColHeader">Column Header Box</label>
                    <label class="radio-inline"><input type="radio" name="optradio" class="CustomSearchRaw">Custom Raw</label>
                </div>
                
          </li>
          <li role="separator" class="divider"></li>
          <li data-ng-if="SearchTemplate=='CustomSearchRaw'">

              <span class="input-group-btn" >
                      <button class="btn btn-default" style="margin-bottom: 5px;" type="button"> <span class="glyphicon glyphicon-plus"></span> New</button>
              </span>
          </li>
          
          
          
          <!--######################################################################Search window in accordance with cols is populated here-->
          <li data-ng-repeat="CurrCol in ListColumnIds track by $index" id="QueryForCol{{CurrCol}}" class='QueryForCols' >
            <!--{{CustomQuery[CurrCol].ColName=ListColumnDetails[CurrCol].ColumnName}}--> 
              <div>
                <div style="display: inline-block">
                    <div class="SearchIn" data-ng-if="SearchTemplate!='CustomSearchRaw'" data-ng-init="CustomQuery[CurrCol].ColName=ListColumnDetails[CurrCol].ColumnName;CustomQuery[CurrCol].Include=1;">  
                        <input type="text" value={{CustomQuery[CurrCol].ColName}} class="form-control" disabled="">
                                           <!--<span class="form-control" >ID</span>-->
                                                
                    </div>
                    <div class="SearchIn" data-ng-if="SearchTemplate=='CustomSearchRaw'">  
                        <select class="form-control" id="sel1"  data-ng-click='HelperSelectEventCapture($event)' data-ng-change='ActionTagParentQueryElement($event)' data-ng-model="HoldFocusEvent">
                          <option value='' ></option>
                          <option value='{{ListColumnDetails[LCurrCol].ColumnId}}' data-ng-repeat="LCurrCol in HoldListColumnIds">{{ListColumnDetails[LCurrCol].ColumnName}}</option>
                        </select>

                    </div>
                    <div class="SearchCondition">
                        <select class="form-control" id="sel1" data-ng-disabled="FilterExcludedCol.indexOf(CurrCol)>-1" data-ng-model="CustomQuery[CurrCol].Condition">
                          <option>Contains</option>
                          <option>Equals</option>
                        </select>
                    </div>
                    <div class="SearchFor">
                        <input type="text" class="form-control" data-ng-disabled="FilterExcludedCol.indexOf(CurrCol)>-1" data-ng-model="CustomQuery[CurrCol].String">
                    </div>
                    <div class="SearchLogic">
                        <select class="form-control" id="sel1" data-ng-disabled="FilterExcludedCol.indexOf(CurrCol)>-1" data-ng-model="CustomQuery[CurrCol].Logic">
                          <option>OR</option>
                          <option>AND</option>
                        </select>
                    </div>
                </div>
                <div class="input-group SearchRemove" data-ng-click="ActionToggleCurrFilterItem($event)" data-ng-if="SearchTemplate!='CustomSearchRaw'">
                   <span class="input-group-btn">
                      <button class="btn btn-default " type="button">
                          <span class="glyphicon glyphicon-eye-close" data-ng-if="FilterExcludedCol.indexOf(CurrCol)>-1">
                              
                          </span>
                          <span class="glyphicon glyphicon-eye-open" data-ng-if="FilterExcludedCol.indexOf(CurrCol)==-1">
                              
                          </span>

                      </button>
                    </span>
                </div>
                <div class="input-group SearchRemove" data-ng-click="ActionRemoveCurrFilterItem($event)" data-ng-if="SearchTemplate=='CustomSearchRaw'">
                   <span class="input-group-btn">
                      <button class="btn btn-default " type="button">
                          <span class="glyphicon glyphicon-minus" >
                              
                          </span>
                      </button>
                    </span>
                </div>
                
                
            </div>
          </li>
          <li data-ng-if="Debugging==1" >
             <pre> {{CustomQuery | json}}</pre>
          </li>
         
        </ul>
      </div>
        
      <input type="text" class="form-control SearchInput" placeholder="Search for..." >
    </div>
    
<!--    <div class="input-group-prepend">
      <div class="input-group-text">@</div>
    </div>
    <input class="form-control SearchInput" type="text" placeholder="Search">-->
</div>


