<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->




<script src="Components/SearchList/SearchList.js"></script>
<div class="SearchInputHolder SearchListComp" style="position:absolute;bottom: 0px"  data-ng-controller="SearchCtrl">
    <div class="input-group ">  
     <div class="input-group-btn form-group SearchBoxAdv" >
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="glyphicon glyphicon-option-horizontal"></span></button>
        <ul class="dropdown-menu draggable ui-draggable ui-draggable-handle container-fluid">
          
          <li> 
                <label><input type="checkbox" name="remember"> Enable Custom Query</label>
          </li>
          <li role="separator" class="divider"></li>
          <li class="row" style="margin-left: auto;margin-right: auto;">
              <div class="col-xs-3">
                  <b>Starter Query</b>
              </div>
                <div  class="col-xs-9">
                    <label class="radio-inline"><input type="radio" name="optradio">Main Search Box</label>
                    <label class="radio-inline"><input type="radio" name="optradio">Column Header Box</label>
                    <label class="radio-inline"><input type="radio" name="optradio">Custom Raw</label>
                </div>
                
          </li>
          <li role="separator" class="divider"></li>
          <li data-ng-repeat="CurrCol in ListColumnIds">
            <div>
                
                <div class="SearchIn">  
                    <input type="text" Value={{ListColumnDetails[CurrCol].ColumnName}} class="form-control" disabled="">
                                        <!--<span class="form-control" >ID</span>-->
                     
                </div>
                <div class="SearchCondition">
                    <select class="form-control" id="sel1">
                      <option>Contains</option>
                      <option>Equals</option>
                    </select>
                </div>
                <div class="SearchFor">
                    <input type="text" class="form-control">
                </div>
                <div class="SearchLogic">
                    <select class="form-control" id="sel1">
                      <option>OR</option>
                      <option>AND</option>
                    </select>
                </div>
            </div>
          </li>
         
        </ul>
      </div>
        
      <input type="text" class="form-control SearchInput" placeholder="Search for...">
    </div>
    
<!--    <div class="input-group-prepend">
      <div class="input-group-text">@</div>
    </div>
    <input class="form-control SearchInput" type="text" placeholder="Search">-->
</div>


