/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 14, 2018, 1:13:46 PM
    Author     : anonymous
*/

.SearchListComp ul{
    position: absolute;
    overflow: visible;
    z-index: 100;
    left: 0px;
    top: 100%;
    padding-right: 10px;
    padding-left: 10px;
}




.SearchListComp .SearchIn{
        display: inline-block;
        width: 200px;
}

.SearchListComp .SearchCondition{
        display: inline-block;
        width: 120px;
}

.SearchListComp .SearchFor{
        display: inline-block;
        width: 200px;
}

.SearchListComp .SearchLogic{
        display: inline-block;
        width: 80px;
}

.SearchListComp .SearchAdd,.SearchRemove{
        display: inline-block;
        
}
